li {
  border: 2px solid #b5b7c4;
  width: 280px;
  padding: 8px;
  border-radius: 12px;
  list-style-type: none;
  margin-right: 8px;
  margin-bottom: 8px;
}

.item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
}

.app-heading {
  font-weight: 600;
  font-family: 'Roboto';
  font-size: 18px;
  color: rgb(15, 15, 17);
  margin: 8px;
}

.star-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
